body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    min-width: 1200px;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    min-height: 10vh;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    gap: 15px;
    padding: 12px 150px 0px 150px;
}

.header > .head {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    padding: 0px 150px 0px 150px;
    background-color: #1f2937;
    margin: 0px;
    display: flex;
    justify-content: center;
    gap: 30px;
    min-height: 30vh;
}

.hero > img {
    width: auto;
    height: 250px;
    object-fit: contain;
    border: #e5e7eb;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #e5e7eb;
    border-radius: 2px;
}

.hero-side > .hero-main {
    margin: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-side > .hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-side > .sign-up {
    background-color: #3882f6;
}

.mid {
    padding: 0px 150px 0px 150px;
    min-height: 40vh;
}

.mid > .mid-main {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 40px 0px 40px 0px;
}

.mid > .container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.mid-img > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #3882f6;
    border-radius: 4px;

}

.mid-img > .caption {
    max-width: 200px;
}


.quote {
    padding: 0px 150px 0px 150px;
    min-height: 40vh;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote > .quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.quote > .quoted {
    align-self: flex-end;
}

.bottom {
    padding: 0px 25% 0px 25%;
    min-height: 20vh;
    min-width: 800px;
    margin-top: 4%;
}

.bottom > .container-bt {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    border-radius: 10px;
}

.container-bt > .bottom-text {
    margin: 20px 20% 20px 0px;
    color: #e5e7eb;
}

.container-bt > .sign-up {
    align-self: center;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 3px solid #e5e7eb;
    font-weight: bold;
    padding: 0.4em 1.2em 0.4em 1.2em;
    border-radius: 6px;
}

.bottom-text > h1 {
    margin-bottom: 0px;
}

.bottom-text > p {
    margin-top: 0px;
}

.footer {
    min-height: 7vh;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
